@model CSE_DEPARTMENT.ViewModel.Multipledata

@{
    ViewBag.Title = "Multidata";
}

<h2>Roles</h2>
<div>

    @{WebGrid obj = new WebGrid(source: Model.AspNetRole, canPage: true, rowsPerPage:10);}
    @obj.GetHtml();
</div>
<br />
<br />


