@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_HomeLayoutPage.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />


<div class="card shadow mb-4">

    <div class="card-body">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align:center">
                <h1>Application Created Succesfully!! </h1>
                @Html.ActionLink("Go Back", "Create", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>

</div>


