@*@model CSE_DEPARTMENT.Models.RoleViewModel

@{
    ViewBag.Title = "DeleteRoles";
}

<h2>DeleteRoles</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RoleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back To List", "Multidata", "ShowData", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>*@
